html {
    height: 100%;
    overflow-y: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar {
    height: auto;
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
}

.button {
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#add-contact {
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 7px;
}

#add-contact:hover {
    background-color: #555;
}

.content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 25%;
    max-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar h2 {
    margin-top: 0;
    text-align: center;
}

#contacts-container {
    height: 30%;
    flex-direction: column;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#contacts-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

#contacts-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #444;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

#contacts-list li:hover {
    background-color: #555;
}

.main-content {
    height: 95vh;
    flex-grow: 1;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main-content h2 {
    margin-top: 0;
    text-align: center;
}

#messages {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
}

.message:hover {
    background-color: #555;
}

.message:first-child {
    margin-top: auto;
}

.message:last-child {
    border-bottom: none;
}

.message strong {
    display: block;
    margin-bottom: 5px;
}

.send-message-container {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    height: 30px;
}

.send-message-input {
    height: 100%;
    background-color: #333;
    font-size: 16px;
    color: #ddd;
    flex-grow: 1;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    border: 0;
}

.send-message-button {
    height: 160%;
    margin-left: 5px;
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
}

.send-message-button:hover {
    background-color: #555;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #555;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #444;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

#settings {
    font-size: 16px;
    background-color: #333;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#settings:hover {
    background-color: #222;
}

#login {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow-y: auto;
    margin-top: 0px;
    width: 50%;
    height: 35%;
    text-align: center;
}

#login input {
    height: 30px;
    width: 60%;
    font-size:16pt;
    border-radius: 12px;
    background-color: #555;
    color: #ddd;
}

#login h2 {
    margin: 3% 0% 3% 0%;
}

#login_button {
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    margin: 5% 0% 3% 0%;
}

#login_button :hover {
    background-color: #333;
}

#settings_menu {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow-y: auto;
    margin-top: 0px;
    width: 50%;
    padding-bottom: 15px;
    height: auto;
    text-align: center;
}

#settings_menu input {
    height: 30px;
    width: 60%;
    font-size:16pt;
    border-radius: 12px;
    background-color: #555;
    color: #ddd;
    margin-bottom: 10px;
}

#settings_menu h2 {
    margin: 3% 0% 3% 0%;
}

#settings_menu button {
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    margin: 10px;
}