<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyx Messenger</title>
    <style>
        .nyx-head {
            height: 20%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            background-color: orange;
        }
        .nyx-msg {
            height: 80%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            background-color: blueviolet;
        }
        .nyx-container {
            height: 100%;
            width: 100%;
        }
        .header {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="nyx-container">
        <div class="nyx-head">
            <h1 class="header">Test</h1>
        </div>
        <div class="nyx-msg">
        </div>
    </div>
</body>
</html>
